<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="ter">
    <header><h1>MIKE</h1></header>
    <h1>HEllo</h1>
    <H1>engk</H1>
    <header>This is the Header</header>
        <nav></nav>
            <main></main>
        </div>
                <footer><samll>&copy; 2024 LesterKim. All Rights Reserved. Okayed</samll></footer>
            

</body>
</html>